.inner {
    width: 100%;
    max-width: 1200px;
    padding: 32px 16px 0px 16px;
    border-radius: 16px;
}

.titleTopicBackground {
    background: linear-gradient(90deg,
            rgba(19, 20, 21, 0) 0%,
            rgba(255, 199, 0, 0.1) 50%,
            rgba(19, 20, 21, 0) 100%);
}

.items {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr;
    align-items: center;
    padding: 12px 20px;
    border-radius: 16px;
    background: var(--color-secondary-800);
    color: #e5e5e5;
    font-size: 16px;
}

.rowHeader {
    border-radius: 0;
    background: transparent;
    padding-inline: 24px;
    padding-block: 0 12px;
    font-size: 11px;
    color: #8f8f8f;
}

.colDetails {
    p {
        color: var(--color-neutral-500);
    }

    font-style: italic;
    font-weight: 900;
}

.colRank {
    display: flex;
    align-items: center;
}

.colQty {
    text-align: left;
}

.colPrice {
    display: flex;
    justify-content: flex-end;
}

/* icon rank */
.rankBadge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* price badge */
.priceBadge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 134px;
    padding: 10px 16px;
    border-radius: 16px;
    color: var(--color-primary-root);
    font-weight: 700;
    font-size: 16px;
}

.rank_1 {
    background: linear-gradient(90deg,
            rgba(255, 200, 61, 0.15) 0%,
            rgba(255, 200, 61, 0.05) 10%,
            var(--color-secondary-800) 100%);
}

.rank_2 {
    background: linear-gradient(90deg,
            rgba(58, 59, 62, 1) 0%,
            rgba(255, 200, 61, 0.05) 10%,
            var(--color-secondary-800) 100%);
}

.rank_3 {
    background: linear-gradient(90deg,
            rgba(51, 46, 44, 1) 0%,
            rgba(255, 200, 61, 0.05) 10%,
            var(--color-secondary-800) 100%);
}

.rank_default {
    background: linear-gradient(90deg,
            rgba(40, 40, 43, 1) 0%,
            rgba(255, 200, 61, 0.05) 10%,
            var(--color-secondary-800) 100%);
}

/* responsive */
@media (max-width: 768px) {
    .inner {
        padding: 16px 16px;
    }

    .row {
        grid-template-columns: 0.8fr 2.5fr 1.5fr 2.2fr;
    }

    .title {
        font-size: 14px;
    }

    .priceBadge {
        min-width: auto;
        font-size: 10px;
        padding-inline: 12px;
    }

    .rank_mobile {
        width: 20px;
        height: 20px;
    }
}