:root {
   --color-primary-root: #ffc700;
   --color-secondary-root: #454852;
   --color-tertiary-root: #2f3547;

   --color-secondary-200: #b0b1b6;
   --color-secondary-300: #8b8c93;
   --color-secondary-600: #383a42;
   --color-secondary-800: #1f2023;
   --color-secondary-900: #131415;

   --color-neutral-200: #d2d2d2;
}

/* Text colors */
.color-primary-root {
   color: var(--color-primary-root);
}

.color-secondary-900 {
   color: var(--color-secondary-900);
}

.color-neutral-200 {
   color: var(--color-neutral-200);
}

/* Background colors */
.background-secondary-900 {
   background-color: var(--color-secondary-900);
}