@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

:root {
  /* Font family */
  --font-family-base: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

  /* Font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black-italic: 900;

  /* Font sizes */
  --fs-xxs: 10px;
  --fs-xs: 12px;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 20px;
  --fs-2xl: 24px;

  /* Font styles */
  --font-italic: italic;
}

/* label-sm */
.label-sm {
  font-family: var(--font-family-base);
  font-weight: var(--fw-medium);
  font-size: var(--fs-sm);
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

/* Font sizes */
.font-size-10 {
  font-size: var(--fs-xxs);
}

.font-size-12 {
  font-size: var(--fs-xs);
}

.font-size-14 {
  font-size: var(--fs-sm);
}

.font-size-16 {
  font-size: var(--fs-md);
}

.font-size-18 {
  font-size: var(--fs-lg);
}

.font-size-20 {
  font-size: var(--fs-xl);
}

.font-size-24 {
  font-size: var(--fs-2xl);
}

/* Font styles */
.font-italic {
  font-style: var(--font-italic);
}

/* Font weight*/
.font-weight-900 {
  font-weight: 900;
}