:root {
  /* Font family */
  --font-family-base: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

  /* Font weights */
  --fw-medium: 500;
  --fw-black-italic: 900;

  /* Font sizes */
  --fs-sm: 14px;

  /* Font styles */
  --font-italic: italic;
}

/* label-sm */
.label-sm {
  font-family: var(--font-family-base);
  font-weight: var(--fw-medium);
  font-size: var(--fs-sm);
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

/* Font styles */
.font-italic {
  font-style: var(--font-italic);
}

/* Font weight*/
.font-weight-900 {
  font-weight: var(--fw-black-italic);
}