.headerBlock {
    // background-color: var(--color-gray-900);
}

.navDesktop {
    height: var(--dm-80);
}

:global(ul > li > a) {
    font-size: var(--dm-14);

    &:hover {
        background-color: var(--color-secondary-600);
    }
}