.navDesktop {
    height: var(--dm-80);
    background-color: var(--color-secondary-900);
}

:global(ul > li > a) {
    &:hover {
        color: var(--color-primary-root);
        background-color: var(--color-secondary-600);
    }
}