.dashboardTitle {
    top: 10%;
    left: 50%;
    font-size: 48px;
    transform: translate(-50%, -50%);
}

.subTitle {
    top: 20%;
    left: 50%;
    font-size: 32px;
    transform: translate(-50%, -50%);
    color: #FFFFFF;

}

@media (max-width: 768px) {
    .dashboardTitle {
        font-size: 16px;
    }

    .subTitle{
        font-size: 14px;
    }
}